In [1]:
import pandas as pd
import numpy as np
import librosa, librosa.display
import matplotlib.pyplot as plt
import os

In [6]:
tab=pd.read_excel('SPEAKER.xls')
tab=tab[tab['SUBSET']==' train-clean-100  '].drop(columns=['SUBSET','NAME','MINUTES'])
X1=tab[tab['SEX']==' F '].head(10)
X2=tab[tab['SEX']==' M '].head(10)
X2['ID']

8       26
9       27
32      60
41      78
68     118
88     163
99     196
103    201
122    229
124    233
Name: ID, dtype: int64

In [7]:
len(X2['ID'])

10

In [14]:
def associer_nom_fichier(tab):
    liste=os.listdir('LibriSpeech')
    L=[]
    for i in range(len(tab['ID'])):
        name=str(tab['ID'].iloc[i])+'-'
        L.append([x for x in liste if x[:len(name)] ==name][0])
    X2['Name']=L
    return(tab)

In [18]:
tab=associer_nom_fichier(X2)
tab

      ID  SEX                  Name
8     26   M       26-495-0000.flac
9     27   M    27-123349-0000.flac
32    60   M    60-121082-0000.flac
41    78   M       78-368-0000.flac
68   118   M   118-121721-0000.flac
88   163   M   163-121908-0000.flac
99   196   M   196-122150-0000.flac
103  201   M   201-122255-0000.flac
122  229   M   229-130880-0000.flac
124  233   M   233-134440-0000.flac

In [25]:
ID="LibriSpeech/19-198-0000.flac"
def FFT(ID,FH):
    signal, sr=librosa.load(ID)
    # Creating a Discrete-Fourier Transform with our FFT algorithm
    fast_fourier_transf = np.fft.fft(signal,n=300)
    # Magnitudes indicate the contribution of each frequency
    magnitude = np.abs(fast_fourier_transf)
    # mapping the magnitude to the relative frequency bins
    frequency = np.linspace(0, sr, len(magnitude))
    # We only need the first half of the magnitude and frequency
    left_mag = magnitude[:int(len(magnitude)/2)]
    data=pd.DataFrame([left_mag.tolist()])
    data['ID']=ID
    data['SEXE']=FH
    return(data)

In [26]:
FFT(ID,'F')

,0,1,2,3,4,5,6,7,8,9,...,142,143,144,145,146,147,148,149,ID,SEXE
0,0.218856,0.316053,0.185612,0.055561,0.072195,0.087691,0.102612,0.05271,0.051853,0.063425,...,0.002805,0.002802,0.002799,0.002796,0.002794,0.002792,0.002791,0.00279,LibriSpeech/19-198-0000.flac,F

In [3]:
X=tab['ID']
y=tab['SEX']
tab['Train_Test']=np.nan

In [4]:
tab[tab['ID'].isin(X_train['ID'].to_list())]

NameError: name 'X_train' is not defined

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X=tab.drop(columns=['SEX'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
import torch
import torchaudio
import torchaudio.functional as F
import torchaudio.transforms as T

In [ ]:
import librosa, librosa.display
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
signal, sr=librosa.load("LibriSpeech/19-198-0000.flac")

In [ ]:
signal

In [ ]:
# Creating a Discrete-Fourier Transform with our FFT algorithm
fast_fourier_transf = np.fft.fft(signal,n=300)
# Magnitudes indicate the contribution of each frequency
magnitude = np.abs(fast_fourier_transf)
# mapping the magnitude to the relative frequency bins
frequency = np.linspace(0, sr, len(magnitude))
# We only need the first half of the magnitude and frequency
left_mag = magnitude[:int(len(magnitude)/2)]
left_freq = frequency[:int(len(frequency)/2)]
plt.plot(left_freq, left_mag)
plt.title('Discrete-Fourier Transform', fontdict=dict(size=15))
plt.xlabel('Frequency', fontdict=dict(size=12))
plt.ylabel('Magnitude', fontdict=dict(size=12))
plt.show()

In [ ]:
data