In [2]:
import pandas as pd

In [11]:
df = pd.read_excel('SPEAKER.xls')
df

      ID    SEX   SUBSET             MINUTES               NAME
0       14   F    train-clean-360      25.03    Kristin LeMoine
1       16   F    train-clean-360      25.11     Alys AtteWater
2       17   M    train-clean-360      25.04     Gord Mackenzie
3       19   F    train-clean-100      25.19   Kara Shallenberg
4       20   F    train-other-500      30.07             Gesine
...    ...  ...                 ...      ...                ...
2479  8975   F    train-clean-100      25.11        Daisy Flaim
2480  9000   M    train-other-500      27.26    Ramon Escamilla
2481  9022   F    train-clean-360      25.17           Claire M
2482  9023   F    train-clean-360      25.19       P. J. Morgan
2483  9026   F    train-clean-360      21.75       Tammy Porter

[2484 rows x 5 columns]

      ID    SEX   SUBSET             MINUTES               NAME
0       14   F    train-clean-360      25.03    Kristin LeMoine
1       16   F    train-clean-360      25.11     Alys AtteWater
2       17   M    train-clean-360      25.04     Gord Mackenzie
3       19   F    train-clean-100      25.19   Kara Shallenberg
4       20   F    train-other-500      30.07             Gesine
...    ...  ...                 ...      ...                ...
2479  8975   F    train-clean-100      25.11        Daisy Flaim
2480  9000   M    train-other-500      27.26    Ramon Escamilla
2481  9022   F    train-clean-360      25.17           Claire M
2482  9023   F    train-clean-360      25.19       P. J. Morgan
2483  9026   F    train-clean-360      21.75       Tammy Porter

[2484 rows x 5 columns]