In [2]:
import pandas as pd
from librosa.feature import mfcc
import librosa
import os

In [63]:
df = pd.read_excel('SPEAKER.xls')
df=df[df['SUBSET']==' train-clean-100  '].drop(columns=['SUBSET','NAME','MINUTES'])

In [68]:
def associer_nom_fichier(tab):
    liste=os.listdir('LibriSpeech')
    L=[]
    for i in range(len(tab['ID'])):
        name=str(tab['ID'].iloc[i])+'-'
        L.append('LibriSpeech/'+[x for x in liste if x[:len(name)] ==name][0])
    tab['Name']=L
    return(tab)

In [70]:
df = associer_nom_fichier(df)

In [71]:
df

        ID  SEX                               Name
3       19   F        LibriSpeech/19-198-0000.flac
8       26   M        LibriSpeech/26-495-0000.flac
9       27   M     LibriSpeech/27-123349-0000.flac
14      32   F      LibriSpeech/32-21625-0000.flac
18      39   F     LibriSpeech/39-121914-0000.flac
...    ...  ...                                ...
2451  8747   M   LibriSpeech/8747-293952-0000.flac
2455  8770   M   LibriSpeech/8770-295462-0000.flac
2462  8797   M   LibriSpeech/8797-294123-0000.flac
2469  8838   M   LibriSpeech/8838-298545-0000.flac
2479  8975   F   LibriSpeech/8975-270782-0000.flac

[251 rows x 3 columns]

In [106]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.drop("SEX", axis = 1),df[['SEX']],random_state=17, test_size = 0.20, stratify=df[['SEX']])

In [107]:
X_train['ORIGIN'] = 'TRAIN'
X_test['ORIGIN']= 'TEST'

In [108]:
X_train['SEX'] = y_train['SEX']

In [109]:
X_test['SEX'] = y_test['SEX']

In [110]:
X_train = X_train.append(X_test)

In [112]:
X_train.groupby(['ORIGIN', 'SEX']).count()

             ID  Name
ORIGIN SEX
TEST    F    25    25
        M    26    26
TRAIN   F   100   100
        M   100   100

In [78]:
?sklearn.model_selection.train_test_split()

Object `sklearn.model_selection.train_test_split()` not found.

In [114]:
X_train.to_csv("SPEAKERS_TYPE.csv", sep = ';', index = False)

In [3]:
sys.version

'3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]'