In [1]:
import pandas as pd

In [2]:
tab=pd.read_excel('SPEAKER.xls')
tab=tab[tab['SUBSET']==' train-clean-100  '].head(10)
tab.head(10)

    ID  SEX              SUBSET  MINUTES                NAME
3   19   F    train-clean-100      25.19    Kara Shallenberg
8   26   M    train-clean-100      25.08        Denny Sayers
9   27   M    train-clean-100      20.14       Sean McKinley
14  32   F    train-clean-100      24.01         Betsie Bush
18  39   F    train-clean-100      25.05     Sherry Crowther
19  40   F    train-clean-100      25.04       Vicki Barbour
32  60   M    train-clean-100      20.18
41  78   M    train-clean-100      25.05        Hugh McGuire
45  83   F    train-clean-100      25.04   Catharine Eastman
48  87   F    train-clean-100      25.10      Rosalind Wills

In [3]:
tab['SUBSET'].unique()

array([' train-clean-100  '], dtype=object)